.player-list {
  width: 200px;
  padding: 8px 0 8px 0;
}

.player {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 6px 8px 6px 12px;
  margin-bottom: 6px;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  border-left: 2px solid transparent;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all 225ms ease-in-out;
  &:hover {
    border-left: 2px solid rgba(255, 255, 255, 0.6);
    border-top: 2px solid rgba(255, 255, 255, 0.6);
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  }
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    background-color: rgba(252, 248, 248, 1);
    border: 3px solid #ffffff;
  }
  span {
    color: #ffffff;
    margin-left: 10px;
    font-weight: 500;
    font-size: 22px;
  }
}

.active {
  background-color: rgba(255, 255, 255, 0.5);
  span {
    color: #000000;
  }
}
