.task {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 30px 10px 30px;
  color: #ffffff;

  @media (max-width: 600px) {
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 150px;
  }
}

.task-content {
  padding: 0 !important;
}
