<h1 mat-dialog-title>Edit player</h1>
<div mat-dialog-content>
    <p>Change name of the player</p>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="name" maxlength="10">
    </mat-form-field>
    <p>Choose image of the player</p>
    <div class="profil-box">
        <img *ngFor="let image of playerImages" (click)="changeImage(image)" src="/assets/img/profile/{{ image }}"
            class="profil-image" [class.activeProfilImage]="currentImage == image">
    </div>
</div>
<div mat-dialog-actions align="center">
    <div class="button-box">
        <button mat-button (click)="onNoClick()">Close</button>
        <button mat-button [disabled]="name.length == 0"
            [mat-dialog-close]="{name: name, image: currentImage}">Save</button>
        <button mat-button (click)="deletePlayer()" color="warn">Delete</button>
    </div>
</div>