.profil-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  .profil-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    background-color: rgba(252, 248, 248, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 175ms ease-in-out;
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }

  .activeProfilImage {
    box-shadow: 0 0 10px rgba(86, 130, 188, 1);
  }

  .button-box {
    display: flex !important;
    justify-content: center !important;
  }
}
