.profil-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .profil-image {
    width: 50px;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 175ms ease-in-out;
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }
}
