.load-dialog {
  padding: 30px;

  @media (max-width: 500px) {
    padding: 10px;
  }

  .load-game-row {
    transition: all 125ms ease-in-out;
    cursor: pointer;
    &:hover {
      border-radius: 12px;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  td {
    padding: 5px 10px 5px 10px;
    text-align: center;
  }

  th {
    padding: 5px 20px 5px 20px;
  }

  @media (max-width: 420px) {
    td,
    th {
      padding: 5px 5px 5px 5px;
      font-size: 12px !important;
    }
  }
}

.no-games-info {
  text-align: center;
}
