.load-dialog {
  padding: 30px;

  .load-game-row {
    transition: all 125ms ease-in-out;
    cursor: pointer;
    &:hover {
      border-radius: 12px;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  td {
    padding: 5px 10px 5px 10px;
    text-align: center;
  }

  th {
    padding: 5px 20px 5px 20px;
  }
}

.no-games-info {
  text-align: center;
}
