@import url(./models/fonts.css);
@import url(../node_modules/material-design-icons/iconfont/material-icons.css);

* {
  box-sizing: border-box;
  font-family: "Roboto";
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("^assets/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
