@import url(./models/fonts.css);
@import url(./models/material-icons.css);

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("^assets/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  overflow: hidden;
}

@media (max-width: 780px) {
  .hide-desktop {
    display: none;
  }
}

@media (min-width: 780px) {
  .hide-mobile {
    display: none;
  }
}
